* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 3rem;
  background-color: bisque;
}

.card {
  display: flex;
  background-color: coral;
  color: #fff;
  border-radius: 10px;
}

.text-display {
  padding: 1rem;
}

.rating {
  background-color: crimson;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: 1rem;
  left: 1rem;
}

.lista-kartica {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
