* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 3rem;
  background-color: bisque;
}

.lista-kartica {
  width: 80%;
  margin: 5rem auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.card {
  display: flex;
  background-color: coral;
  color: #fff;
  border-radius: 10px;
  justify-content: space-around;
}

.text-display {
  padding: 1rem;
}

.rating {
  background-color: crimson;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: 1rem;
  left: 1rem;
  color: #fff;
}

button {
  position: relative;
  display: inline-block;
  width: 4rem;
  padding: 5px;
  bottom: 2rem;
  height: 2.3rem;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: indianred;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.card.flip {
  background-color: khaki;
  color: #000;
}

.stats {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-around;
}

.stats p {
  background-color: darksalmon;
  padding: 1rem 1.5rem;
  color: white;
}

.input-forma {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.input-forma > p {
  text-align: center;
}

.input-grupa {
  display: flex;
  align-items: center;
}

.input-grupa button {
  margin-left: 3rem;
  width: 5rem;
  height: 3rem;
  bottom: 0;
}

.input-grupa input[type="text"] {
  padding: 8px;
  height: 3rem;
  border: none;
  outline: none;
}

.btn-primary {
  background-color: crimson;
}

.btn-secondary {
  background-color: rosybrown;
}

.ocjena {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.form-control {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.5rem;
  font-weight: 600;
  line-height: 1.4;
}

input[type="radio"] {
  appearance: none;
  background-color: crimson;
  margin: 0;
  color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transform: translateY(0.15rem);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 1rem 1rem #fff;
  transform: scale(0);
  transition: 0.1s transform ease-in;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15rem) solid #000;
  outline-offset: max(2px, 0.15rem);
}
